
h1{
    font-weight: 600;
    padding: 0.5em;
    overflow-x: hidden;
    margin: 0 0.5em 0 0.5em;
    background-color: blueviolet;
    text-align: center;
    color: azure;
}

input{
    padding: 0.8em;
    margin-left: 0.5em;
    width: 50%;
    border-radius: 20px;
    outline: none;
    border: none;
    font-weight: bold;
}

button{
    padding: 0.5em;
    background-color: blueviolet;
	color: white;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: none;
    border-radius: 5px;
    margin-left: 0.5em;
    font-weight: bold;
    font-size: small;
}

.inputButton{
    display: flex;
    justify-content: center;
    padding: 0.5em;
    text-decoration: none;
    margin:1em;
    color: white;
}

.preview-div{
    width: 100%;
}

#previewFrame{
    background: none !important;
    background-color: none !important;
    width: 80%;
    height: 100vh;
}

.previewDiv{
    display:flex;
}

.attribute{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    font-weight: 600;
    padding: 0.5em;
    overflow-x: hidden;
    margin: 0 0.5em 0 0.5em;
    text-align: center;
    color: azure;
    font-size: medium;
}

.elementSelection{
    width: 20%;
}